* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 990px;
    margin: 0% auto;


}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: bisque;
    margin: 0% auto;
    margin-top:  50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}